<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <table>
      <tr>
        <td>ID</td>
        <td>Content</td>
        <td>Type</td>
        <td>Hash</td>
        <td></td>
      </tr>
      <tr th:each="word : ${words}">
        <td th:text="${word.id}">6</td>
        <td th:text="${word.content}">Dummy</td>
        <td th:text="${word.type}">1</td>
        <td th:text="${beans.templateLogic.getHash(word)}">Word@1032</td>
        <td><a href="#" th:href="@{/word/{content}(content=${word.content})}">Show</a></td>
      </tr>
    </table>

    <form action="#" th:if="${word}" th:action="@{/words/}" th:object="${word}" method="post">
      <table>
        <tr>
          <td>Content:</td>
          <td><input type="text" th:field="*{content}" /></td>
          <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><input type="text" th:field="*{type}" /></td>
          <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</td>
        </tr>
        <tr>
          <td><button type="submit">Submit</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
